<%- include('includes/head.ejs') %>

<body>
  <h1>This is a home page. 1 + 2</h1>
  <!-- ejs ka final result string hoga -->
   <!-- result mai number or function dono saath mai kaam nhi kiya ? check kro -->
  <h2> <%=  "apnacollege".toUpperCase() %> </h2> 
  <h2> <%=  1 + 2 %> </h2>
  <h2> <%= ["hello" , "bonjour" , "namaste"][2] %> </h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi ab numquam ut accusantium, officia nulla alias odio tempore tenetur exercitationem suscipit omnis voluptates ipsa recusandae possimus, deserunt labore iste.</p>

  <button>click me</button>

    <%- include('includes/footer.ejs') %>
  
</body>
</html>